<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Django-5.x.x with TailwindCSS Boilerplate</title>
    </head>

    <body class="py-16 bg-gray-50">
        <h1 class="mb-4 text-5xl text-center text-gray-800 font-bold font-sans">
            Django5.x.x with TailwindCSS Boilerplate
        </h1>
        <p class="text-xl text-center text-gray-600 font-sans">
            Get started
        </p>

    </body>

</html>